/out
/imqs-build-cache.json
*.sublime-project
*.sublime-workspace

#Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.js
*.js.map
*.pyc
*.xml
ipch/
obj/