body {
    font-family: 'Segoe UI', sans-serif;
}

span {
    font-style: italic;
}

footer {
	position: fixed;
	bottom: 0;
	left: 50%;
	margin-left: -200px;
}

table {
	border-collapse: collapse;
	width: 100%;
	table-layout: fixed;
}

td, tr {
	border-bottom: 1px solid #ddd;
	width: 100%;
}

thead {
	background-color: #f5f5f5;
}

tr:hover {
	background-color: #f5f5f5;
}

button {
	border: none;
	background: none;
}

input {
}
