
th{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	display: inline-flex;
	background-image: radial-gradient(green, black);
	border: 1px solid rgba(0, 0, 0, 0.8);
	padding: 20px;
	font-size: 20px;
	color:white;
	height: auto;
	scrollbar-width: none;
	width:6.8%;
}

td{
	display: inline-flex;
	border: 1px solid rgba(0, 0, 0, 0.8);
	padding: 20px;
	font-size: 15px;
	scrollbar-width: none;
	width:6.8%;
}

table,tr{
	width:100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
}


tr:hover {
	background-color:#e1eaea
}

#btns{
	position: absolute;
	bottom: 5px;
	float:left;
}

.buttons {
	display:inline-flex;
	position: relative;
	float:left;
	bottom: 5px;
	padding: 10px 18px;
  }


html{
	overflow: hidden;
}

body{
	padding: 0;
	margin: 0px;
	position:relative;
	padding-bottom: 20px;
}
