
th{
	background-color:#99ff99;
	width:6.8%;
	border-bottom: 1px solid;
	padding:20px;

}

td{
	width:6.8%;
	padding:18px;
	border-bottom: 1px solid;
}


table {
	position: relative;
	width: 100%;
	text-align: left;
  }


tr:hover {
	background-color:#e1eaea
}

#btns{
	position: relative;
	float:left;
}

.buttons {
	display:inline-flex;
	position: relative;
	float:left;
	padding: 10px 18px;
  }

html{
	overflow:hidden;

}

.searchButtons{
	float: right;

}
