
th{
	background-color:#cc66ff;
	border-bottom: 1px solid;
	padding:20px;

}

td{
	padding:18px;
	border-bottom: 1px solid;
}

tr{
height: 56px;

}

table {
	position: relative;
	width: 100%;
	text-align: left;
  }


tr:hover {
	background-color:#e1eaea
}

#btns{
	position: relative;
	float:left;
}

.buttons {
	display:inline-flex;
	position: relative;
	float:left;
	padding: 10px 18px;
  }

html{
	overflow:hidden;

}

.searchButtons{
	float: right;
	padding: 10px 18px;
}
img{
	height: 50px;
	width:350px;


}
