body{
  overflow: hidden;
  background-color: #f7e7ce;
  padding: 0;
  margin: 0;
}
.tableRecords{

  position: absolute;
  display: flex;
 
}
.tableRecords tbody{
   height: 85vh;
}
#recordsTable tbody .row td {
  height: 1rem;
}


.header{
  display: block;
}
table{
    width: 100%;
    table-layout: fixed;
  
    margin-bottom: 5%;
   
   
   
    
    
}
table, th, td {
    border: 1px solid #4B3832;
    border-collapse: collapse;
    text-align: center; 
    color: black;
    
}
.tableRecords thead .head {
  position: sticky;
  background-color: #97694F;
  border: 2px solid black;
  top:0;
}


td:hover{
    color: #97694F;
    background-color:#DDC0B4;
  }

.heading  {
   text-align: center;
   text-decoration: underline;
   color: #4B3832;
   
   
}


.showRecords{

  /* transform: translate(49rem, -0.5rem); */
  position: absolute;
  padding: 1rem;
  right: 0;
  top: 1.2%;
 

}
.showRecords #page{
  display: inline-block;
  font-size: 1.2rem;

}


.arrow-right,
.arrow-left{
  border: none;
  background-color: transparent;

}

.arrow-right,
.arrow-left{
  display: inline-block;
  width: 25px;
  height: 25px;
  border-top: 5px solid #4B3832;
  border-left: 5px solid #4B3832;
  
  
 
}

.arrow-right,
.arrow-left:hover {
  color: #97694F;
}

.arrow-right{
 transform: rotate(135deg);
 float: right;


}

.arrow-left{
 transform: rotate(-45deg);
 float: left;
}

.search-container {
  float: left;
  position: absolute;
  top: 2.15%;


}
.search-container input[type=text] {
  padding: 6px;
  font-size: 1rem;
  border: 2px solid #4B3832;
  background-color: #f7e7ce;
 
}
.btnSearch{
  font-size: 1rem;
  border: 2px solid #4B3832;
  padding: 6px;
  background-color:#97694F ;
  color: #f7e7ce;
} 
#loader{
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 50%;
  margin-top: -50px;
  border: calc(200px / 10) solid #97694F;
  border-top: 20px solid #4B3832;
  border-radius: 100%;
  display:none;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



