* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 12px;
  overflow-y: hidden;
  overflow-x: hidden;
}

/*Removing Browser scrollbar*/
::-webkit-scrollbar {
  display: none;
}
/*  */

/* Body */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
/*   */

/* Buttons, selects and inputs */
button,
select,
input {
  width: 125px;
  padding: 5px;
}
/*  */

/* Navigation */
#record-navigation-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  height: 15vh;
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid black;
}

/* Next and previous controls */
.next-previous-navigation-btns {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.current-page-container {
  text-align: center;
  width: 20%;
}
/*  */

/* Select filter method */
.select-confirm {
  display: flex;
  justify-content: space-around;
  width: 20%;
}
/*  */

/* Headings */
#column-headings-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 10vh;
  width: 100%;
  border-bottom: 1px solid black;
}

.column-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  border-right: 1px solid black;
  height: 100%;
  width: 100%;
}
/*  */

/* Info grid */
#info-columns-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 20vh);
  width: 100%;
}

.info-rows {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 100%;
  width: 100%;
  border-bottom: 1px solid black;
}

.info-row-data {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px;
  font-size: 10px;
  border-right: 1px solid black;
}
/*  */
