
@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600&display=swap');
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
    background-color: #141A27;
    background-attachment: fixed;
    height: 100vh;
}
 
body::-webkit-scrollbar {
    display: none;
}
 
h1 {
    text-align: center;
    font-family: 'Atma', cursive;
    font-size: 2.5rem;
    color: #4DD2C6;
}
 
.results {
    font-family: 'Atma', cursive;
    font-weight: 500;
    font-size: 2rem;
    color: #A1AFC2;
}
 
.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}
 
.table-container {
    display: flex;
    flex-direction: column;
    height: 80vh; /* Use full viewport height */
    border: 1px solid #4DD2C6;
    box-sizing: border-box;
    padding: 20px; /* Add some padding for a bit of breathing room */
    overflow: hidden; /* Hide any overflowing content */
  }
 
.table-container::-webkit-scrollbar {
    display: none;
}
 
table {
    flex-grow: 1; /* Allow the table to expand within the container */
    width: 100%; /* Take full width of the container */
    border-collapse: collapse;
    table-layout: fixed; /* Use a fixed layout to prevent column widths from changing */
  }
 
th {
    /* border-bottom: 1px solid #3b3b3b; */
    font-family: 'Atma', cursive;
    font-size: 1rem;
    border: 0.5px solid #4DD2C6;
    /* border-right: 0.5px solid #4DD2C6; */
    color: #4DD2C6;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-height: 10px; 
    padding: 2px;
}

thead {
    /* position: sticky; */
    /* top: 0; */
    border: 1px solid #4DD2C6 !important;
    background-color: #141A27;
    border: 1px solid white !important;
}
 
.body-row td {
    text-align: center;
    font-family: 'Atma', cursive;
    color: #A1AFC2;
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-height: 10px; 
    padding: 2px;
}

.search-input {
    height: 30px;
    width: 180px;
    border: 0px;
    background-color: #ffffff36;
    color: white;
    font-family: 'Atma', cursive;
    letter-spacing: 2px;
    padding-left: 10px;
}
 
input:focus{
    outline: 0px solid black;
    outline-offset:3px;
}
 
.search-btn {
    height: 30px;
    border: 0px;
    margin-left: -4px;
    padding: 0px 5px;
    background-color: #4DD2C6;
    color: black;
}
 
.search-form {
    display: flex;
}
 
.wrapper {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}
 
.pagination {
    display: flex;
    justify-content: center;
    /* padding-top: 30px; */
}
 
.pagination a {
    text-decoration: none;
    color: black;
    padding: 9px;
    border: 0px solid #3b3b3b;
    margin: 3px;
    background-color: #ffffff36;
    box-shadow: inset 0px 0px 20px -10px rgba(255, 255, 255, 0.438);

}
 
.pagination a:hover {
    color: white;
    background-color: #4DD2C6;
    border:0px solid #4DD2C6 ;
}
 
.active {
    color: #4DD2C6 !important;
    /* background-color: #af79e6; */
    border: 1px solid #4DD2C6 !important;  
}

.next, .prev {
    color: #4DD2C6 !important;
}

.next:hover, .prev:hover {
    color: white !important;
}

.header {
    height: 5vh;
}
.heading {
    height: 5vh;
}
.table-container {
    height: 80vh;
}
.wrapper {
    height: 10vh;
    display: flex;
    align-items: center;
}

/* .pagination {
    margin: auto 0px;    
} */

.table-container {
  display: flex;
  flex-direction: column;
  height: 80vh; /* Use full viewport height */
  box-sizing: border-box;
  padding: 20px; /* Add some padding for a bit of breathing room */
  overflow: hidden; /* Hide any overflowing content */
}

table {
  flex-grow: 2; /* Allow the table to expand within the container */
  width: 100%; /* Take full width of the container */
  border-collapse: collapse;
  table-layout: fixed; /* Use a fixed layout to prevent column widths from changing */
}

th, td {
  padding: 0.2px; /* Reduced padding for cells */
  text-align: center;
  /* border-bottom: 1px solid #ddd; */
  white-space: nowrap; /* Prevent line breaks within cells */
  /* overflow: hidden;  */
  text-overflow: ellipsis; /* Show ellipsis (...) for content that overflows */
  max-height: fit-content; /* Set a small maximum height for cells */
  /* font-size: 10px;  */
}

.search-container {
    position: relative;
}

.results-box {
    width: 228.23px;
    height: 50px;
    background-color: white;
    position: absolute;
    top: 189;
}